.wg {
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: center;
  height: 100%;
}
.wg-wrong-container,
.wg-error-container {
  width: 20%;
}

/* BOTTOM */
.wg-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* KEYBOARD */
.keyboard-container {
  display: flex;
  justify-content: center;
}
.keyboard-body {
  display: flex;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-transparent-color);
  border-radius: 20px;
  padding: 2em;
  width: 75%;
}
.keyboard-body > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
.keyboard-body > ul > li {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
}
.keyboard-body > ul > li > div {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.keyboard-body > ul > li:hover {
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  user-select: none;
}
.btn-wrong-letter {
  display: none;
}

/* TOP */
.wg-top {
  display: flex;
  justify-content: space-between;
  height: 40%;
}
/* WORD */
.wg-word-container {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-transparent-color);
  border-radius: 20px;
  width: 55%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.wg-word-container > ul {
  display: flex;
  gap: 2em;
  padding: 2em;
}
.wg-word-container > ul > li {
  border-bottom: 1px solid var(--secondary-color);
  width: 1em;
  text-align: center;
  font-size: 3.5rem;
  color: var(--ternary-color);
  user-select: none;
}
/* WRONG LETTER */
.wg-wrong-container,
.wg-word-message {
  background-color: var(--primary-transparent-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 1em;
  margin-top: auto;
  margin-bottom: auto;
}
.wg-wrong-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}
.wg-wrong-body > h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  padding-bottom: 0.2em;
}
.wg-wrong-body > h3 {
  font-size: 2rem;
}
.wg-wrong-body > ul {
  display: flex;
  gap: 0.5em;
  font-size: 3rem;
  line-height: 100%;
  padding: 0.2em 0.2em;

  margin: 0.5em;
}
.wg-wrong-body > ul > li {
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding: 0.2em;
  text-align: center;
  user-select: none;
}
.wg-word-message {
  padding: 3em;
}
.wg-word-message > p {
  font-size: 3rem;
}
.wg-word-message > p > span {
  color: var(--secondary-color);
  font-weight: 600;
}
.play-wg-btn {
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid var(--secondary-color);
  border-radius: 7px;
  background-color: var(--primary-color);
  padding: 0.25em 1em;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 0;
}
.play-wg-btn:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 0.3s ease-in-out;
}
/* ERROR and HELP */
.wg-error-container {
  background-color: var(--primary-transparent-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 1em;

  margin-top: auto;
  margin-bottom: auto;
}
.wg-error-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  text-align: center;
  gap: 1em;
}

.endgame-msg {
  font-size: 2rem;
  font-weight: 500;
}
.endgame-newgame-msg {
  font-size: 1.8rem;
  font-weight: 400;
}
.error-msg {
  font-size: 1.6rem;
  font-weight: 400;
}
.endgame-newgame-msg > span {
  color: var(--secondary-color);
  font-weight: 600;
}
